body,canvas{
	margin: 0;
	padding: 0;
}

.interface{
	width: 500px;
	height: 40px;
	background-color: #496;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;

	& > *{
		border: 1px solid #000;
		cursor: pointer;
	}
}